
main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(16);
}


header {
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%; 
    grid-row: span 3;
    position: static;

    nav{
        left: calc(100vw/12 - rem(16)); // gör att naven lägger sig BREDVID headern. Calc=uträkning 100vw är hela skärmen/ 12 grid-colums och minus ett gap(16px).
    }
   
    h1 {
        writing-mode: vertical-lr;
        text-orientation: upright;
        position: fixed;
        left: 1vw;
        top: 30vh;


    }

    button {
        left: rem(20); // hamburgermenyn
        top: rem(20);

    }

    .checkbox {
        left: rem(20); // hamburgermenyn
        top: rem(20);

    }
}

.page1 {
    grid-column: span 11;
    min-height: 100vh;

    .top,
    .bottom {
        display: grid;
        gap: rem(16);
        grid-template-columns: repeat(11, 1fr);
        height: 50vh;
    }
}

.top {
    .page-title {
        grid-column: span 4; // för grid
      
    }

    .text {
        grid-column: span 7;
    }
}

.bottom {
    image {
        grid-column: span 5;
    }

    .text {
        grid-column: span 6;
    }
}
