main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    height: 100%;
    text-align: center;
    width: 100%;
    grid-row: span 3; // span över alla tre sidor
    position: static;

    nav {
        left: calc(100%/12 - rem(16)); // gör att naven lägger sig BREDVID headern. Calc=uträkning 100vw är hela skärmen/ 12 grid-colums och minus ett gap(16px).
        top: 0;

        ul {
            li {
                margin-right: 250px;
                transition: transform 0.5s;

                &:hover {
                    transform: translateX(20px);
                }

                a {
                    font-size: rem(50);
                }
            }
        }
    }

    h1 {
        position: fixed;
        top: 10vh;
        font-size: rem(42);
        max-width: 30px;
        word-break: break-all;

        .desktop-only {
            display: block; // för mellanrum mellan tough cookie.
        }
    }

    .main-menu button {
        left: rem(30); //hamburgermenyn
        top: rem(30);

        span {
            width: 50px;
            height: 7px;
        }
    }

    .checkbox {
        left: rem(37); // hamburgermenyn
        top: rem(15);
        width: 50px;
        height: 50px;
    }
}

.page1,
.page2 {
    border-left: 16px solid $yellow-color;
    border-right: 16px solid $yellow-color;
}


.page1,
.page2,
.page3 {
    grid-column: span 11;
    min-height: 100vh;

}

.page1 {
    padding: 0;

    .top,
    .bottom {
        display: grid;
        gap: rem(16);
        grid-template-columns: repeat(11, 1fr);
    }

    .text1,
    .text2 {
        text-align: left;
    }

    .top {
        height: 50vh;

        .page-title {
            grid-column: span 4;
            height: 100%;
        }

        .text1 {
            grid-column: span 7;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-size: rem(37);
            padding-right: 10px;
        }
    }

    .bottom {
        height: 50vh;

        .image {
            grid-column: span 5;
            width: 100%;
            height: auto;
            margin: 0;
            background-size: contain;
            background-repeat: no-repeat;

            &:hover {
                .arrow {
                    bottom: 10px;
                }
            }

            .arrow {
                bottom: 25px;
                left: 20px;
                transition: bottom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }

        .text2 {
            grid-column: span 6;
            font-size: rem(35);
            margin: 0;
            padding: 0;

            a {
                :hover {
                    color: rgb(33, 33, 249);

                }
            }

            span {
                font-size: rem(40);
            }

            img {
                height: rem(35);
                width: rem(45);
            }
        }
    }
}

.page2 {

    .image-container,
    .menu {
        display: grid;
        gap: rem(16);
        grid-template-columns: repeat(11, 1fr);
    }

    .image-container {

        .img1,
        .img2,
        .img3 {
            height: 300px;
        }

        .img1 {
            grid-column: span 3;
            border: 0;
        }

        .img2,
        .img3 {
            grid-column: span 4;
            display: inline;
        }
    }

    .menu {
        .menuitem {
            grid-column: span 11;
            display: grid;
            gap: rem(16);
            grid-template-columns: repeat(11, 1fr);
            border-left: 0;
            border-right: 0;

            h3 {
                grid-column: span 4;
                position: relative;
                margin: 0;
                margin-left: 10px;
                font-size: rem(25);
            }

            .new-label {
                position: absolute;
                left: 400px;
            }

            .vegan-label {
                position: absolute;
                left: 425px;
            }

            .popular-label {
                position: absolute;
                left: 300px;
            }

            p {
                grid-column: 5 / span 6;
            }

            .price {
                grid-column: span 1;
                font-size: rem(25);
            }
        }
    }
}

.page3 {
    border-left: 16px solid white;
    display: grid;
    gap: rem(16);
    grid-template-columns: repeat(11, 1fr);

    form {
        grid-column: span 5;
        margin-top: rem(80);
        display: flex;
        align-items: flex-start;
        margin-left: rem(20);

        h4 {
            font-size: rem(47);
            letter-spacing: rem(5);
            margin-bottom: rem(20);
        }

        .form-group {
            label {
                font-size: rem(30);
                width: rem(150);
            }

            input {
                width: rem(320);
                height: rem(25);
            }

        }

        .cancel,
        .request {
            width: rem(240);
            font-size: rem(25);
            margin-left: rem(5);
            height: rem(30);
        }
    }

    .contact {
        grid-column: span 6;
        height: 90%;

        div {
            width: rem(480);
            height: rem(480);
        }

        a {
            font-size: rem(40);
        }
    }
}

.cookies {
    padding-left: 130px;

    p {
        font-size: rem(20);
    }

    input {
        width: rem(220);
        margin-left: rem(10);
        font-size: rem(25);
    }
}