header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 1;

    nav {
        top: 10vh;
    }
}

.page1 {
    padding-top: 10vh; // är det rimligt att ha padding?

    section {
        height: 50%;

        .text1,
        .text2 {
            p {
                text-align: center;
            }
        }

    }
    .image{
        height: 25vh;
        width: auto;
    }
}

.page2 {

    .menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;

        .menuitem {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }
    }
}


.page3 {
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: rem(365);
        .form-group{
            input{
                width: rem(150);
              }

        }
    }

    .contact {
        height: rem(350); //mobil version
    }

    .cookies{
        // behöver få ner cookies längst ner
    }
}