body {
    background-color: rgb(243, 255, 71);
}

header {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 1;

    nav {

        top: 10vh;

    }
}



.page1 {
    padding-top: 10vh; // är det rimligt att ha padding?

}

.page2 {
    background-color: rgb(241, 241, 175);
}

.page3 {
    background-color: rgb(222, 222, 58);
    position: relative;

    .cookies {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}