body {
    background-color: rgb(37, 231, 231);
}


.page1 {
    grid-column: span 11;
    min-height: 100vh;

    .top,
    .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
        height: 50vh;
    }
    .top {
        .page-title {
            grid-column: span 4;
        }
    
        .text {
            grid-column: span 7;
        }
    }
    
    .bottom {
        div {
            grid-column: span 1;
        }
    
        img {
            grid-column: span 4;
        }
    
        .text {
            grid-column: span 6;
        }
    }
}


.page2 {
    background-color: rgb(189, 253, 253);
    grid-column: span 11;
    min-height: 100vh;

    .top,
    .menu {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
    }
    .top {
        height: 30vh;
    
        .img {
            grid-column: span 3;
            border: 3px solid black; // endast för att se hur de lägger sig
        }
    }
    
    .menu {
        height: 70vh;
    
        .menuitem {
            grid-column: span 4;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

