body {
    background-color: rgb(37, 231, 231);
}


.page1 {
    grid-column: span 11;
    min-height: 100vh;

    .top,
    .bottom {
        display: grid;
        gap: rem(16);
        grid-template-columns: repeat(11, 1fr);
        height: 50vh;
    }
    .top {
        .page-title {
            grid-column: span 4;
        }
    
        .text {
            grid-column: span 7;
        }
    }
    
    .bottom {
        div {
            grid-column: span 1;
        }
    
        img {
            grid-column: span 4;
        }
    
        .text {
            grid-column: span 6;
        }
    }
}


.page2 {
    background-color: rgb(189, 253, 253);
    grid-column: span 11;
    min-height: 100vh;

    .top,
    .menu {
        display: grid;
        gap: rem(16);
        grid-template-columns: repeat(11, 1fr);
    }
    .top {
        height: 30vh;
    
        .img {
            grid-column: span 3;
            border: rem(3) solid black; // endast för att se hur de lägger sig
        }
    }
    
    .menu {
        height: 70vh;
    
        .menuitem {
            grid-column: span 4;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.page3 {
    display: flex;
    background-color: rgb(96, 200, 238);
    grid-column: span 11;
    min-height: 100vh;
    display: grid;
    gap: rem(16);
    grid-template-columns: repeat(11, 1fr);
    height: 50vh;
    form {
       grid-column: span 5;
    }
    section{
        grid-column: span 6;
    }
}
