@function rem($size) {
  @return calc($size / 16) * 1rem;
}

$green-color: #00ff38;

$yellow-color: #fff236;

$purple-color: #AA75FF;

$font-main: 'Jockey one';

$font-text: 'Roboto condensed';

$font-sign: 'Courier prime';



header {
  background-color: black;
  color: white;

  h1 {
    text-transform: uppercase;
    font-family: $font-main, sans-serif;
    letter-spacing: rem(5);

  }

  .mainMenu button {
    width: rem(35);
    height: rem(35);
    background: transparent;
    border: 0;
    position: fixed;
    right: rem(20);
    top: rem(20);
    pointer-events: none;
    margin: 0;
    z-index: 2;

    span {
      display: block;
      width: rem(35);
      height: rem(5);
      background-color: $yellow-color;
      border-radius: rem(6);
      margin-bottom: rem(4);
    }
  }

  .checkbox {
    position: fixed;
    top: rem(20);
    right: rem(20);
    width: rem(35);
    height: rem(35);
    z-index: 1;
    opacity: 0;
  }

  input:checked {
    &+.mainMenu button span {
      position: absolute;
      transition: all 0.3s ease-in-out;
    }

    &+.mainMenu button span:nth-child(2) {
      opacity: 0;
    }

    &+.mainMenu button span:nth-child(1) {
      transform: rotate(45deg);
    }

    &+.mainMenu button span:nth-child(3) {
      transform: rotate(-45deg);
    }

  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $purple-color;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      text-align: center;

      li {
        font-family: $font-main, sans-serif;
        font-size: rem(35);
        text-transform: uppercase;
      }
    }
  }

  input:checked+.mainMenu nav {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.page1 {
  background-color: black;
  // border-left: rem(16) solid $yellow-color;
  // border-right: rem(16) solid $yellow-color; bättre att lägga dessa i varje version! endast top i moiblversion

  .page-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;

    h2 {
      font-family: $font-main, sans-serif;
      text-transform: uppercase;
      position: absolute;
    }

    .tahini {
      color: $green-color;
      top: rem(50);
      font-size: rem(60);
      z-index: 1;
    }

    .drizzle {
      color: $purple-color;
      top: rem(69);
      left: 50%; // kan man använda %?
      font-weight: normal;
    }

    .chickpeas {
      color: $yellow-color;
      top: rem(130);
      left: calc(50% - 64px); 
      font-weight: normal;
    }
  }

  article {
    font-family: $font-main, sans-serif;

    span {
      font-family: $font-main;
      text-transform: uppercase;
      color: black;
      font-size: rem(25);
      display: flex;
      align-items: center;
    }

    img{
      height: rem(25);
      margin-left: rem(8);
    }
    
  }

  .text1 {
    color: $green-color;
  }

  .text2 {
    color: $purple-color;
    background-color: white;
    border-left: rem(16) solid $yellow-color; // funkar inte!
  }
}

.page2 {
  background-color: $yellow-color;

  .top {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  // .img{
  //   width: 50vw;
  //   height: 50px;
  //   img{
  //     width: 75%;
  //   }
}

.menuitem {
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;

  h3 {
    font-family: $font-main, sans-serif;
    text-transform: uppercase;
    letter-spacing: rem(2);
    font-size: rem(25);
  }

  .new-label,
  .vegan-label,
  .popular-label {
    font-family: $font-sign, sans-serif;
  }

  p {
    font-family: $font-text, sans-serif;
  }

  span {
    font-family: $font-main, sans-serif;
  }

}



.page3 {
  background-color: $green-color;

  form {
    display: flex;
    flex-direction: column;
    h4 {
      font-family: $font-main;
      text-transform: uppercase;
      font-size: rem(30);
    }
    label{
      font-family: $font-main, sans-serif;
      text-transform: uppercase;
    }

    input{
      border-radius: rem(10);
    }
  }

  section{
    li{
      a{
        font-family: $font-main;
      }
    }
  }

  .button{
    font-family: $font-main;
    text-transform: uppercase;
    border-radius: rem(10);
  }

  .cookies {
    background-color: $purple-color;
   p{
    color: white;
   }
  }
}


@import 'vendor/normalize';

@import 'mobile';

@media screen and (min-width: 768px) {
  @import 'tablet';
}

@media screen and (min-width: 1280px) {
  @import 'desktop';
}